.Header {
    background-color: #000000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    height: 70px;
}

.HeaderLink {
    flex-wrap: wrap;
    max-width: 100%;

    font-weight: bolder;
    text-decoration: none;
    color: white;
}

.HeaderLink {
    flex-wrap: wrap;
    max-width: 100%;

    font-weight: bolder;
    font-weight: normal;

    color: #ffffff;
}